html
{ /* proprieté de la page  */
	 background-image:fixed;
	background-image: url("background.jpg");
	color: black
	font-style:oblique;
	font-weight:bold;
	text-align:center;
	font-family : Arial;
	padding: 0; margin: 100;

}

h4
{ /* porprietés du titres des commandes */
    color:white;
	border-style:dashed;
	border-color:brown;
	border-width:5px;
    box-shadow:0px 10px 10px brown;
    font-weight:bold; 
    border-radius:5px;
    background-color: black;

}
/* voila voila ;) */